# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*
venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml
src/streamlit_app/.cache/

# OS & IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
.venv/

# Logs / caches
*.log
*.sqlite
*.db
.cache/
scripts/cache/