# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS & IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/


# Data
data/raw/
.xlsx
data/processed/
*.csv
*.csv.gz
*.parquet
*.xlsx
scripts/cache/
# scr/
# scripts/
data/
test/
.venv/

# Logs / caches
*.log
*.sqlite
*.db
.cache/
test/cache/